{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body %}
<br><br><br>
<div class="container">
	<br>
	<h1 class="text-center">Cricket WorldCup</h1><br>
	<h2 class="text-center">Web Tech-2 Project</h2><br>
	<p>The ICC Cricket World Cup is the international championship of One Day International (ODI) cricket. The event is organised by the sport's governing body, the International Cricket Council (ICC), every four years, with first qualification rounds leading up to a semifinals and then finals tournament. The tournament is one of the world's most viewed sporting events and is considered the "flagship event of the international cricket calendar" by the ICC.</p><br>
	<p>Our Project is all in one stop for cricket world cup, this website consist of 
Team details, player details, details about the board of each country.
It also provides live score details, all the players professional details.
It also has the feature of ticket booking and cancelling with which you can 
Book ticket of the match and also cancel it. 
The project also provides some Statistical information which has a multi series 
 line chart  for each innings, it also has a pie chart which shows how team India 
Performs against other countries which can be used to for data analytics. </p>

	<h4>Implemented By,</h4>
	<h5>Shankaranaryana Hebbar H S</h5>
	<h5>Manojkumar S</h5>
	<h5>Siva Teja</h5>
	<br>
</div>
{% endblock %}